<?xml version="1.0"?>
<launch>

    <arg name="params" default="$(find lidar_camera_calibration)/params/lidar_camera_calibration.yaml" />

    <node pkg="lidar_camera_calibration" type="find_transform" name="find_transform" output="screen">
        <rosparam command="load" file="$(arg params)" subst_value="True" />
    </node>

</launch>
